// Colors
$white: #ffffff;
$brand-primary: #E84B88;
$brand-secondary: #55A849;
$font-family-base: 'Raleway', sans-serif;
$font-family-heading: 'Merriweather', serif;

// Links
$link-color: $brand-primary;

// Menus
$navbar-light-active-color: $white;
